USE [HealthcarePharmacyBI]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 8/14/2026 2:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[CustomerID] [nvarchar](10) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[CustomerType] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 8/14/2026 2:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[ProductID] [nvarchar](10) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Supplier] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 8/14/2026 2:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[SaleID] [nvarchar](10) NOT NULL,
	[SaleDate] [date] NOT NULL,
	[CustomerID] [nvarchar](10) NOT NULL,
	[ProductID] [nvarchar](10) NOT NULL,
	[Quantity] [tinyint] NOT NULL,
	[PrescriptionType] [nvarchar](20) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Revenue] [decimal](12, 2) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[customers] ([CustomerID], [City], [CustomerType]) VALUES (N'C001', N'Berlin', N'Retail')
INSERT [dbo].[customers] ([CustomerID], [City], [CustomerType]) VALUES (N'C002', N'Cologne', N'Retail')
INSERT [dbo].[customers] ([CustomerID], [City], [CustomerType]) VALUES (N'C003', N'Cologne', N'Retail')
GO
INSERT [dbo].[products] ([ProductID], [ProductName], [Category], [UnitPrice], [Supplier]) VALUES (N'P001', N'Paracetamol 500mg', N'Pain Relief', CAST(3.50 AS Decimal(10, 2)), N'MedCo')
INSERT [dbo].[products] ([ProductID], [ProductName], [Category], [UnitPrice], [Supplier]) VALUES (N'P002', N'Ibuprofen 400mg', N'Pain Relief', CAST(5.20 AS Decimal(10, 2)), N'HealthPlus')
INSERT [dbo].[products] ([ProductID], [ProductName], [Category], [UnitPrice], [Supplier]) VALUES (N'P003', N'Amoxicillin 500mg', N'Antibiotic', CAST(8.90 AS Decimal(10, 2)), N'PharmaLink')
GO
INSERT [dbo].[sales] ([SaleID], [SaleDate], [CustomerID], [ProductID], [Quantity], [PrescriptionType], [UnitPrice], [Revenue]) VALUES (N'S0001', CAST(N'2025-11-09' AS Date), N'C025', N'P004', 2, N'OTC', CAST(6.40 AS Decimal(10, 2)), CAST(12.80 AS Decimal(12, 2)))
INSERT [dbo].[sales] ([SaleID], [SaleDate], [CustomerID], [ProductID], [Quantity], [PrescriptionType], [UnitPrice], [Revenue]) VALUES (N'S0002', CAST(N'2025-04-13' AS Date), N'C033', N'P006', 1, N'OTC', CAST(4.80 AS Decimal(10, 2)), CAST(4.80 AS Decimal(12, 2)))
INSERT [dbo].[sales] ([SaleID], [SaleDate], [CustomerID], [ProductID], [Quantity], [PrescriptionType], [UnitPrice], [Revenue]) VALUES (N'S0003', CAST(N'2025-12-01' AS Date), N'C011', N'P005', 1, N'OTC', CAST(12.50 AS Decimal(10, 2)), CAST(12.50 AS Decimal(12, 2)))
GO
